<launch>
  <master auto="start"/>

    <!-- 设置地图的配置文件 -->
    <!-- <arg name="map" default="nav.yaml" /> -->
    <!-- 运行地图服务器，并且加载设置的地图-->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/map/$(arg map)"/> -->
  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="~/my_map.pgm 0.05"/> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server"/> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch" />
  <!-- <node name="nav_core" pkg="nav_core" type="nav_core" /> -->
  <!-- <node name="move_base" pkg="move_base" type="move_base" /> -->


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_robot_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot_2dnav)/config/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
